body {
	position: relative;
	min-height: 300px;
}

body#the-body.dragged {
	background: #83b4d8;
	opacity: .3;
}

body#the-body.dragged::after {
	content: 'Drop to Upload';
	position: absolute;
	text-align: center;
	font-weight: bold;
	font-size: 50px;
	top: 50%;
	left: 50%;
	width: 380px;
	height: 76px;
	margin-top: -38px;
	margin-left: -190px;
}

#authorize {
	text-align: center;
}

#authorize img {
	display: block;
	margin: 25px auto;
}

#pickfiles {
	display: none;
}

.spinner {
	background: url('/images/spinner.gif') #f0f0f0 no-repeat center center;
	width: 150px;
	height: 150px;
	vertical-align: middle;
	display: inline-block;
}