body {
	background: #f6f9fa;
	position: relative;
	min-height: 300px;
}

body#the-body.dragged {
	background: #83b4d8;
	opacity: .3;
}

body#the-body.dragged::after {
	content: 'Drop to Upload';
	position: absolute;
	text-align: center;
	font-weight: bold;
	font-size: 50px;
	top: 50%;
	left: 50%;
	width: 380px;
	height: 76px;
	margin-top: -38px;
	margin-left: -190px;
}

#authorize {
	text-align: center;
}

#authorize img {
	display: block;
	margin: 25px auto;
}

/* Header */ 

#header{
	background:#F29F05;
	padding:1em 0;
}

#header #userdetails,
#header h1{
	color:#A63F03;
	display:inline-block;
	vertical-align:middle;
}

#header #userdetails{
	width:34%;
	float:right;
}

#header h1{
	width:55%;
	float:left;
	margin:0;
}

#header #userdetails #avatar{
	border: 1px solid #fff;
	float:left;
	margin-right: .5em;
}

#header #userdetails #name{
	font-weight:bold;
	margin:0;
}

.header-inner,
#filegrid,
#picker{
	margin: 0 auto;
	max-width: 1050px;
	width: 100%;
}

.logout-button {
	margin-top:4px;
}

/* Picker */ 

#picker{
	height: 65px;
	padding:1em 0;
}

#picker button{
	float:right;
}

#pickfiles {
	display: none;
}

/* File List */ 

#filegrid img{
	padding: .35em;
	transition: all 0.25s ease;
}

#filegrid img:hover{
	background:#F2DBAE;
	cursor:pointer;
	padding: .25em;
}

button.more{
	display: block;
	margin-top: 1em;
	width: 100%;
}

.pending {
	background: url('/images/spinner.gif') #f0f0f0 no-repeat center center;
}

img.pending {
	opacity: 0.4;
	filter: alpha(opacity=40);
}

@media (min-width: 768px) {
	.modal-dialog {
		width: 800px;
	}
}

.modal-body img {
	float: left;
	width: 500px;
	min-height: 250px;
}

.modal-body aside {
	float: left;
	margin-left: 20px;
	width: 200px;
}

.clear {
	clear:both;
}

.modal-body aside input {
	width: 200px;

@media only screen and (max-width: 770px) {
	#header #userdetails{
		width:48%;
	}
	
	#header h1{
		width:48%;
	}
}