<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sulfur</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="the-body">

    <div id="main"></div>

    <!-- Templates JS -->
    <script type="text/template" id="header-template">
    	<div class="header-inner">
        	<h1>Sulfur</h1>
    	</div>
        <div class="clear"></div>
    </script>

    <script type="text/template" id="user-template">
        <img id="avatar" src="<%- avatar_URL %>" width="65" height="65" />
        <div id="name"><%- display_name %></div>
        <div id="blog"><%- blog %></div>
        <button type="button" class="btn btn-default btn-xs logout-button"><a href="#logout" id="logout">Log Out</a></button>
        <div class='clear'></div>
    </script>

    <script type="text/template" id="authorize-template">
        <h1>Welcome to Sulfur</h1>
        <img src="https://i0.wp.com/developer.files.wordpress.com/2014/05/img_4714.jpg?w=400" alt="Sulfur" />
        <a href="https://public-api.wordpress.com/oauth2/authorize?response_type=token&client_id=<%- app.config.oAuth.clientID %>&redirect_uri=<%- app.config.oAuth.redirectURL %>" class="authorize"><img src="//s0.wp.com/i/wpcc-button.png" width="231"></a>
    </script>

    <script type="text/template" id="single-template">
        <div class="modal fade" id="single-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <img src="<%- link %>?w=500" width="500">
                        <aside>
                            <div class="main-info title"><h4>Title</h4> <%- title ? title : 'No title added' %></div>
                            <div class="main-info caption"><h4>Caption</h4> <%- caption ? caption : 'No caption added' %></div>
                            <div class="main-info description"><h4>Description</h4> <%- description ? description : 'No description added' %></div>
                            <div class="main-info image-id"><h4>Image ID</h4> <%- id %></div>
                            
                            <ul class="nav nav-tabs nav-justified">
                                <li class="active"><a href="#general" data-toggle="tab"><span class="glyphicon glyphicon-info-sign"></span>General</a></li>
                                <li><a href="#camera" data-toggle="tab"><span class="glyphicon glyphicon-camera"></span>Camera</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="general">
                                    <div class="gen-info size"><h4>Size</h4> <%- metadata.width %> x <%- metadata.height %></div>
                                    <div class="gen-info date"><h4>Uploaded On</h4> <%- date %></div>
                                    <div class="gen-info link"><h4>Link</h4><input type="text" value="<%- link %>" readonly="readonly"/></div>
                                </div>
                                <div class="tab-pane" id="camera">
                                    <div class="cam-info camera"><h4>Camera</h4> <%- metadata.image_meta.camera ? metadata.image_meta.camera : 'n/a' %></div>
                                    <div class="cam-info iso"><h4>ISO</h4> <%- metadata.image_meta.iso ? metadata.image_meta.iso : 'n/a' %></div>
                                    <div class="cam-info shutter"><h4>Shutter Speed</h4> <%- metadata.image_meta.shutter_speed ? metadata.image_meta.shutter_speed : 'n/a' %></div>
                                    <div class="cam-info aperature"><h4>Aperture</h4> <%- metadata.image_meta.aperture ? metadata.image_meta.aperture : 'n/a' %></div>
                                    <div class="cam-info focal"><h4>Focal Length</h4> <%- metadata.image_meta.focal_length ? metadata.image_meta.focal_length : 'n/a' %></div>
                                </div>
                            </div>

                        </aside>
                        <div class="clearfix"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="picker-template">
        <button id="pickfiles" class="btn btn-info btn-lg">Upload Files</button>
    </script>

    <!-- Load Everything through requirejs -->
    <script data-main="/app/config.js" src="/js/require.js"></script>

  </body>
</html>