<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sulfur</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="the-body">

    <div id="main"></div>

    <!-- Templates JS -->
    <script type="text/template" id="logout-template">
        <a href="#logout" id="logout">Log Out</a>
    </script>

    <script type="text/template" id="authorize-template">
        <h1>Welcome to Sulfur</h1>
        <img src="https://i0.wp.com/developer.files.wordpress.com/2014/05/img_4714.jpg?w=400" alt="Sulfur" />
        <a href="https://public-api.wordpress.com/oauth2/authorize?response_type=token&client_id=<%- app.config.oAuth.clientID %>&redirect_uri=<%- app.config.oAuth.redirectURL %>" class="authorize"><img src="//s0.wp.com/i/wpcc-button.png" width="231"></a>
    </script>

    <script type="text/template" id="single-template">
      <a href="/">Go back</a>
      <div class="single-image">
            <img src="<%- link %>" width="500">
            <p>Image ID: <%- id %></p>
            <p>Uploaded on: <%- date %></p>
            <p>Title: <%- title %></p>
            <p>Caption: <%- caption %></p>
            <p>Description: <%- description %></p>
            <ul class="single-image-actions">
                <li><a href='#' class='single-image-delete'>Delete Image</a></li>
            </ul>
      </div>
    </script>

    <script type="text/template" id="picker-template">
        <a href="" id="pickfiles">[Select Files]</a>
        <div id="filelist"></div>
        <div id="file-container"></div>
    </script>

    <!-- Load Everything through requirejs -->
    <script data-main="/app/config.js" src="/js/require.js"></script>

  </body>
</html>